@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html,
body {
    height: 100%
}

body {  font-family: 'Source Sans Pro', sans-serif; }

.card {
    position: relative;
    display: flex;
    padding:20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
}

.media img{ 
    width: 35px;
    height: 35px;
}


.reply a {
    text-decoration: none;
}