{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/comments.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container mb-5 mt-5">
	<div class="card">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center mb-5">
					Comments ({{ comments.count }})
				</h3>

				<div class="row text-center" style="width: 100%;">
					<form id="comment_form" method="post" class="w-100">
						{% csrf_token %}
						<input type="text" name="comment_text" style="display: inline-block;" placeholder="share your thoughts" class="form-control w-75">
						<button type="submit" class="btn btn-primary">Add</button>
					</form>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						{% for comment in comments %}
						<div class="media mb-5">
							<img class="mr-3 rounded-circle" alt="Bootstrap Media Preview"
								src="https://i.imgur.com/stD0Q19.jpg" />
							<div class="media-body">
								<div class="row">
									<div class="col-8 d-flex">
										<h5>{{ comment.user.username }}</h5>
										<span>- 2 hours ago</span>
									</div>

									<div class="col-4" style="text-align:right;">
										<div class="reply">
											<a href="#"><span><i class="fa fa-reply"></i> reply</span></a>
										</div>
									</div>
								</div>
								{{ comment.text }}

								{% for reply in comment.replies.all %}
									<div class="media mt-4">
										<a class="pr-3" href="#"><img class="rounded-circle"
												alt="Bootstrap Media Another Preview"
												src="https://i.imgur.com/xELPaag.jpg" /></a>
										<div class="media-body">

											<div class="row">
												<div class="col-12 d-flex">
													<h5>{{ reply.reply_by.username }}</h5>
													<span>- 3 hours ago</span>
												</div>
											</div>
											{{ reply.content }}
										</div>
									</div>
								{% endfor %}

							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.querySelector("#comment_form").addEventListener('submit', (event) => {
		event.preventDefault();
		let url = ""
		let text = event.target.comment_text.value;
		console.log(text)

		var xhttp = new XMLHttpRequest();

		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var results = JSON.parse(this.responseText);
				console.log(results);
				event.target.reset();
			}
		};

		xhttp.open("GET", url);
		xhttp.send();
	})
</script>