{% extends "base.html" %}
{% load social_share %}
{% load static %}
{% load markdown_extras %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
	<header class="blog-post-header">
	    <h2 class="title mb-2">{{ post.title }}</h2>
	    <div class="meta mb-3"><span class="date">Published {{ post.created.date }}</span><span class="time">5 min read</span><span class="comment"><a href="#">{{ post.comments.count }} comments</a></span></div>
    </header>

    <div class="blog-post-body">
	    <figure class="blog-banner">
	        <a href="https://made4dev.com"><img class="img-fluid" src="{{ post.image.url }}" alt="image"></a>
	        <figcaption class="mt-2 text-center image-caption">
	        	Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a>
	        </figcaption>
	    </figure>
	    <br>
	    {{ post.body|markdown|safe }}
	</div>

	
	{% if request.user != post.author and not post|saved:request.user %}
		<button class="btn btn-sm btn-success" id="save-post-btn">Save</button>
	{% endif %}
	{% post_to_linkedin request.build_absolute_uri  %} 
	<br>

	{% include "comments.html" with comments=post.comments.all post_id=post.id ctoken=csrf_token %}

	<br>

	<section class="promo-section theme-bg-light py-5 text-center">
	    <div class="container">
		    <h2 class="title">Promo Section Heading</h2>
		    <p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
            <figure class="promo-figure">
		        <a href="https://made4dev.com" target="_blank"><img class="img-fluid" src="{% static 'assets/images/promo-banner.jpg' %}" alt="image"></a>
		    </figure>
	    </div>
    </section>

	<script>
		document.querySelector("#save-post-btn").addEventListener("click", (event) => {
			event.preventDefault();

			let url =`http://127.0.0.1:8000/blog/save/post/`;

			const data = new FormData();
			data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
			data.append('post_id', "{{ post.id }}");

			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var results = JSON.parse(this.responseText);
					console.log(results["message"]);
				}
			}

			xhttp.open("POST", url, true);
			xhttp.send(data);
		})
	</script>
{% endblock %}